<div class="nuweNFT">
    <div class="maincard">
        <div class="tarjeta">
            <div class="sup">
                <div class="ranksp">
                    <div class="region"><img src="../../../assets/iconos/es.svg" alt=""></div>
                    <div class="datos"></div>
                </div>
                <div class="pic">
                    <div class="emblema">
                        <img src="../../../assets/iconos/angular.svg" alt="">
                    </div>
                </div>
                <div class="rankeu"></div>
            </div>
        </div>
    </div>
</div>