<div class="nuweNFT">
    
    <div class="maincard">
        
        <div class="tarjetaan" *ngIf='anre' (dblclick)="girar()" >
            
            <div class="sup">
                <div class="ranksp">
                    <div class="region"><img src="../../../assets/iconos/es.svg" alt=""></div>
                    <div class="datos">
                        <p>Rango: Tal</p>
                        <p>%Par: Tal</p>
                    </div>
                </div>
                <div class="pic">
                    <div class="emblema">
                        <img src="../../../assets/iconos/angular.svg" alt="">
                    </div>
                </div>
                <div class="rankeu">
                    <div class="region"><img src="../../../assets/iconos/eu.svg" alt=""></div>
                    <div class="datos">
                        <p>Rango: Tal</p>
                        <p>%Par: Tal</p>
                    </div>
                </div>
            </div>

            <div class="nombrerol">
                <p class="nor1">@RebbecaDev</p>
                <p class="nor2">WebDev Junior</p>
                <p class="temblema">Mercenaria de Angular</p>
            </div>

            <div class="datacanvas">
                <canvas baseChart
                [datasets]="_rc.hardskills.datos"
                [labels]="_rc.hardskills.etiquetas"
                [options]="_rc.hardskills.opciones"
                [legend]="_rc.hardskills.leyenda"
                [chartType]="_rc.hardskills.tipo">
                </canvas>
                
                <!--
                <canvas baseChart
                [datasets]="_rc.softskills.datos"
                [labels]="_rc.softskills.etiquetas"
                [options]="_rc.softskills.opciones"
                [legend]="_rc.softskills.leyenda"
                [chartType]="_rc.softskills.tipo">
                </canvas>
                -->
                
            </div>

            <div class="participacion">
                <div class="par">Participación:</div>
                <div class="item">
                    <p class="nombre">Hackatons:</p>
                    <p class="valor">1</p>
                </div>
                <div class="item">
                    <p class="nombre">Challenges:</p>
                    <p class="valor">2</p>
                </div>
                <div class="item">
                    <p class="nombre">Proyectos OS:</p>
                    <p class="valor">3</p>
                </div>
                <div class="item">
                    <p class="nombre">Emblemas:</p>
                    <p class="valor">4</p>
                </div>
            </div>
        </div>

        <div class="tarjetarev" *ngIf='!anre' (dblclick)="girar()" >
            
            <div class="fotonombrerol">
                <img src="../../../assets/fotostock/avatar.jpg" class="foto" alt="">
                <div class="nombrerol">
                    <p class="nombre">@RebeccaDev</p>
                    <p class="rol">WebDev Junior</p>
                </div>
                <img src="../../../assets/qr/qrtransparente.png" alt="" class="qr">
            </div>

        </div>

    </div>

    <div class="mincard">
        <div class="tarjeta">
            
            <div class="nombrerol">
                <p class="nombre">@RebeccaDev</p>
                <p class="rol">WebDev Junior</p>
            </div>

            <div class="foto"><img src="../../../assets/fotostock/avatar.jpg" alt=""></div>

            <div class="emblemapos">
                <img src="../../../assets/iconos/angular.svg" class="emblema" alt="">
                <p class="posicion">70%</p>
            </div>

        </div>
    </div>

</div>