//https://cssgradient.io/
$nuwebg : #232730
*
    color: white
.nuweNFT
    .maincard,.mincard
        .tarjeta,.tarjetaan
            box-shadow: 0px 0px 75px 75px rgba(0,106,185,0.5)
    margin: 0px
    padding: 0px
    min-width: 100%
    min-height: 100vh
    overflow: hidden
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    .maincard
        min-width: 60%
        max-width: 60%
        min-height: 100%
        max-height: 100%
        display: flex
        justify-content: center
        align-items: center
        .tarjetaan
            height: 75%
            width: 65%
            border: 5px solid #4F934A
            border-radius: 15px
            padding: 10px
            .sup
                min-width: 100%
                background-color: purple
                min-height: 25%
                max-height: 25%
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                justify-content: space-between
                background-image: url("../../../assets/fotostock/wide.jpg")
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                margin-top: 10px
                .ranksp,.pic,.rankeu
                    min-width: 33%
                .ranksp,.rankeu
                    font-size: 0.8rem
                    display: flex
                    flex-wrap: wrap
                    .region
                        min-width: 100%
                        max-height: 50%
                        display: flex
                        justify-content: center
                        align-items: center
                        img
                            margin: auto
                            max-width: 50%
                    .datos
                        display: flex
                        flex-wrap: wrap
                        flex-direction: row
                        align-items: underline
                        justify-content: center
                        p
                            min-width: 100%
                            margin: 0px
                            text-align: center
                .ranksp
                    background: linear-gradient(90deg, rgba(35,39,48,1) 65%, rgba(35,39,48,0) 100%)
                    padding-right: 50px
                .rankeu
                    background: linear-gradient(270deg, rgba(35,39,48,1) 65%, rgba(35,39,48,0) 100%)
                    padding-left: 50px
                .emblema
                    min-width: 50px
                    max-width: 50px
                    min-height: 50px
                    max-height: 50px
                    position: relative
                    margin: auto
                    top: 90%
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        max-width: 80%
            .nombrerol
                min-width: 100%
                min-height: 50px
                margin-top: 5px
                display: flex
                flex-wrap: wrap
                justify-content: center
                .nor1
                    min-width: 50%
                    text-align: center
                .nor2
                    min-width: 50%
                    text-align: center
                .temblema
                    min-width: 100%
                    text-align: center
                    font-size: 0.65rem
                    margin-top: -10px
            .datacanvas
                min-width: 100%
                min-height: 40%
                max-height: 40%
                display: flex
                justify-content: space-between
                align-items: center
                text-align: justify
                canvas
                    max-width: 80%
                .btnsk
                    min-width: 20%
                    min-height: 100%
                    margin-bottom: 35px
                    display: flex
                    flex-wrap: wrap
                    flex-direction: row
                    justify-content: space-between
                    .noactivo
                        opacity: 0.25
                    button
                        background-color: rgba(0,0,0,0)
                        font-weight: 700
                        font-size: 0.8rem
                        padding: 5px
                        text-align: center
                        border: 1px solid white
                        min-width: 85%
                        margin: 10px auto
                        border-radius: 5px
                    .hs
                        color: lightgreen
                        border-color: lightgreen
                    .ss
                        color: orange
                        border-color: orange
            .participacion
                display: flex
                justify-content: center
                align-items: center
                flex-wrap: wrap
                max-height: 20%
                p
                    margin: 0px
                    padding: 0px
                .par
                    min-width: 100%
                    text-align: center
                .item
                    display: flex
                    justify-content: space-between
                    align-items: center
                    min-width: 50%
                    padding: 0px 20px
    .mincard
        min-width: 40%
        max-width: 40%
        min-height: 100%
        max-height: 100%
        display: flex
        justify-content: center
        align-items: center
        .tarjeta
            max-height: 60%
            min-width: 60%
            max-width: 60%
            border-radius: 15px
            border: 5px solid #4F934A
            .nombrerol
                margin: 10px 0px
                p
                    margin: 0px
                    padding: 0px
                    text-align: center
            .foto
                display: flex
                justify-content: center
                align-items: center
                max-width: 100%
                max-height: 60%
                img
                    max-width: 80%
                    border-radius: 15px
            .emblemapos
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                align-items: center
                justify-content: space-between
                margin-top: -30px
                padding: 0px 25px
                .emblema
                    max-width: 60px
                    padding-bottom: 30px
                .posicion
                    font-weight: 700
                    font-size: 3rem
                    padding-top: 30px
    .tarjetarev
        height: 75%
        width: 65%
        border: 5px solid green
        border-radius: 15px
        padding: 10px
        display: flex
        flex-wrap: wrap
        flex-direction: row
        .fotonombrerol
            min-width: 100%
            max-height: 30%
            display: flex
            flex-wrap: wrap
            flex-direction: row
            justify-content: space-between
            align-items: center
            .foto
                max-height: 100%
                max-width: 40%
                border-radius: 15px
            .nombrerol
                min-height: 100%
                max-width: 60%
                min-width: 60%
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                margin: auto
                p
                    margin: 0px
                    padding: 0px
                    min-width: 100%
                    font-weight: 700
                    font-size: 1.5rem
                .nombre
                    text-align: left
                .rol
                    text-align: right   
            .qr
                max-width: 80%
                margin: auto