<div class="nuweNFT">
    <div class="maincard">
        <div class="tarjeta">
            
            <div class="sup">
                <div class="ranksp">
                    <div class="region"><img src="../../../assets/iconos/es.svg" alt=""></div>
                    <div class="datos">
                        <p>Rango: Tal</p>
                        <p>%Par: Tal</p>
                    </div>
                </div>
                <div class="pic">
                    <div class="emblema">
                        <img src="../../../assets/iconos/angular.svg" alt="">
                    </div>
                </div>
                <div class="rankeu">
                    <div class="region"><img src="../../../assets/iconos/eu.svg" alt=""></div>
                    <div class="datos">
                        <p>Rango: Tal</p>
                        <p>%Par: Tal</p>
                    </div>
                </div>
            </div>

            <div class="nombrerol">
                <p class="nor1">@RebbecaDev</p>
                <p class="nor2">Web Dev</p>
                <p class="temblema">Mercenaria de Angular</p>
            </div>

            <div class="datacanvas">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam delectus fugit labore incidunt eos?
            </div>

            <div class="participacion">
                <div class="par">Participación:</div>
                <div class="item">
                    <p class="nombre">Hackatons:</p>
                    <p class="valor">1</p>
                </div>
                <div class="item">
                    <p class="nombre">Challenges:</p>
                    <p class="valor">2</p>
                </div>
                <div class="item">
                    <p class="nombre">Proyectos OS:</p>
                    <p class="valor">3</p>
                </div>
                <div class="item">
                    <p class="nombre">Emblemas:</p>
                    <p class="valor">4</p>
                </div>
            </div>

        </div>
    </div>
</div>