//https://cssgradient.io/
$nuwebg : #232730
*
    color: white
.nuweNFT
    margin: 0px
    padding: 0px
    min-width: 100%
    min-height: 100vh
    overflow: hidden
    display: flex
    flex-direction: row
    flex-wrap: wrap
    .maincard
        min-width: 60%
        max-width: 60%
        min-height: 100%
        display: flex
        justify-content: center
        align-items: center
        .tarjeta
            height: 75%
            width: 65%
            border: 5px solid green
            border-radius: 15px
            padding: 10px
            .sup
                min-width: 100%
                background-color: purple
                min-height: 25%
                max-height: 25%
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                justify-content: space-between
                background-image: url("../../../assets/fotostock/wide.jpg")
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                margin-top: 10px
                .ranksp,.pic,.rankeu
                    min-width: 33%
                .ranksp,.rankeu
                    font-size: 0.8rem
                    display: flex
                    flex-wrap: wrap
                    .region
                        min-width: 100%
                        max-height: 50%
                        display: flex
                        justify-content: center
                        align-items: center
                        img
                            margin: auto
                            max-width: 50%
                    .datos
                        display: flex
                        flex-wrap: wrap
                        flex-direction: row
                        align-items: underline
                        justify-content: center
                        p
                            min-width: 100%
                            margin: 0px
                            text-align: center
                .ranksp
                    background: linear-gradient(90deg, rgba(35,39,48,1) 65%, rgba(35,39,48,0) 100%)
                    padding-right: 50px
                .rankeu
                    background: linear-gradient(270deg, rgba(35,39,48,1) 65%, rgba(35,39,48,0) 100%)
                    padding-left: 50px
                .emblema
                    min-width: 50px
                    max-width: 50px
                    min-height: 50px
                    max-height: 50px
                    position: relative
                    margin: auto
                    top: 90%
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        max-width: 80%
            .nombrerol
                min-width: 100%
                min-height: 50px
                margin-top: 5px
                display: flex
                flex-wrap: wrap
                justify-content: center
                .nor1
                    min-width: 50%
                    text-align: center
                .nor2
                    min-width: 50%
                    text-align: center
                .temblema
                    min-width: 100%
                    text-align: center
                    font-size: 0.65rem
                    margin-top: -10px
            .datacanvas
                min-width: 100%
                min-height: 40%
                max-height: 40%
                border: 0.5px solid white
                display: flex
                justify-content: center
                align-items: center
                text-align: justify
                padding: 20px
            .participacion
                display: flex
                justify-content: center
                align-items: center
                flex-wrap: wrap
                max-height: 20%
                p
                    margin: 0px
                    padding: 0px
                .par
                    min-width: 100%
                    text-align: center
                .item
                    display: flex
                    justify-content: space-between
                    align-items: center
                    min-width: 50%
                    padding: 0px 20px
                