<div class="pbuscado modcomun">
    <div class="parrafo">Puesto buscado por Leonoso:</div>
    <div class="detalles">
        <div class="triadas">
            <div class="item"><i class="fab fa-angular"></i><p>Lorem, ipsum.</p></div>
            <div class="item"><i class="fab fa-angular"></i><p>Lorem ipsum dolor sit.</p></div>
            <div class="item"><i class="fab fa-angular"></i><p>Lorem ipsum dolor sit amet consectetur.</p></div>
        </div>
        <div class="linea"></div>
        <div class="triadas">
            <div class="item"><i class="fab fa-angular"></i><p>Lorem, ipsum.</p></div>
            <div class="item"><i class="fab fa-angular"></i><p>Lorem, ipsum.</p></div>
            <div class="item"><i class="fab fa-angular"></i><p>Lorem, ipsum.</p></div>
        </div>
    </div>
</div>
