*
    color: white
.perfilc,.foto
    background-color: black
    background-size: cover
    background-repeat: no-repeat
    background-position: center
.primero
    min-height: 70vh
    max-height: 2000px
    background-color: purple
    display: flex
    flex-wrap: wrap
    flex-direction: row

        