<div class="main">
    <div class="realmain">
        <div class="imagen"><img src="https://nuwe.io/logoname.png"></div>
        <div class="menu">
            <a href="https://google.es" class="opcion">
                <i class="fas fa-home"></i>
                <p>Panel</p>
            </a>
            <a href="https://google.es" class="opcion">
                <i class="fas fa-home"></i>
                <p>Perfil</p>
            </a>
            <a href="https://google.es" class="opcion">
                <i class="fas fa-home"></i>
                <p>Empresas</p>
            </a>
            <a href="https://google.es" class="opcion">
                <i class="fas fa-home"></i>
                <p>Contacto</p>
            </a>
        </div>
        <div class="cs">
            <a href="https://google.es" class="opcion">
                <i class="fas fa-sign-out-alt"></i>
                <p>Cerrar sesión</p>
            </a>
        </div>
    </div>
    <div class="voidmain"></div>
</div>
