<div class="mainbl">
    <div class="realmain">
        <div class="imagen"><img src="~../../../assets/iconos/nuwefull.png"></div>
        <div class="menu">
            <a routerLink="" class="opcion">
                <img class="icono" src="~../../../assets/iconos/panel.png">
                <p>Panel</p>
            </a>
            <a routerLink="nft" class="opcion">
                <img class="icono" src="~../../../assets/iconos/perfil.png">
                <p>NuweNFT</p>
            </a>
            <a routerLink="" class="opcion">
                <img class="icono" src="~../../../assets/iconos/empresas.png">
                <p>Empresas</p>
            </a>
            <a routerLink="" class="opcion">
                <img class="icono" src="~../../../assets/iconos/contacto.png">
                <p>Contacto</p>
            </a>
        </div>
        <div class="cs">
            <a routerLink="" class="opcion">
                <img class="icono" src="~../../../assets/iconos/logout.png">
                <p>Cerrar sesión</p>
            </a>
        </div>
    </div>
    <div class="voidmain"></div>
</div>
