.main
    min-height: 100vh
    max-width: 15vw
    min-width: 15vw
    margin: 0px
    padding: 15px
    background-color: black
    position: fixed
    border-right: 1px solid lightgrey
    a
        text-decoration: none
    .realmain
        min-height: 60%
        display: flex
        flex-wrap: wrap
        flex-direction: row
        .opcion
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            align-items: center
            margin: 10px 0px
            i,p
                font-size: 1.2rem
                margin: 5px
                color: white
        .imagen,.menu,.cs
            margin: 20px 0px
            img
                margin: 5px
    .voidmain
        min-height: 40%
    